@import '../styles/variables.scss';

.datepicker {
  .year-controls {
    position: absolute;
    width: 318px;
    left: -158px;
    top: 61px;

    .year-btn {
      position: relative;
      border-color: #e4e7e7;
      border-radius: 3px;
      height: 34px;
      color: map-get($color, textLightPrimary);
      z-index: 1100;

      &:hover {
        border-color: #c4c4c4;
        color: map-get($color, textLightPrimary);
        background-color: map-get($color, textSecondary);
      }
    }
    .previous-year-btn {
      left: 3px;
    }
    .next-year-btn {
      left: 235px;
    }
  }

  .SingleDatePickerInput {
    border: none;
    color: map-get($color, textSecondary);
    fill:map-get($color, textSecondary);
    font-family: $fontBase;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    background: #3d474d;

    &_calendarIcon {
      margin: 0;
      padding: 0;
      margin-left: 16px;
      line-height: 1;

      svg {
        fill: map-get($color, textSecondary);
      }
    }
  }

  .DateInput {
    border: none;
    background: transparent;
    padding: 6px 12px;
    line-height: 17px;
    width: 120px;
    min-width: 120px;
    cursor: pointer;

    &_input {
      cursor: pointer;
      padding: 0;
      color: map-get($color, textSecondary);
      background: transparent;
      font-size: $md;
      padding: 0;
      line-height: 1.42857; // copy from bootstrap
      text-align: center;
      border: none;
      border-radius: 4px;

      &__focused {
        background: map-get($color, secondary);
        color: map-get($color, textSecondary);
        border: none;
      }
    }

    &__withCaret::before,
    &__withCaret::after {
      top: initial;
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      z-index: 1101;
    }

    &__withCaret::after {
      bottom: -11px;
    }
  }

  .SingleDatePicker_picker {
    top: 100%;
    margin-top: 10px;
    z-index: 1100;
    left: 0;

    @include breakpoint(tablet) {
      left: auto;
    }

    .DayPickerNavigation_leftButton__horizontal {
      left: 50px;
      z-index: 2000;
    }

    .DayPickerNavigation_rightButton__horizontal {
      right: 50px;
    }

    .CalendarDay {
      &_button {
        font-family: $fontBase;
        font-size: $sm;
      }

      &__selected {
        background: map-get($color, secondary);
        border: 1px double map-get($color, secondaryDark);
      }
    }
  }

  &__disabled {
    cursor: not-allowed;

    .SingleDatePickerInput {
      &_calendarIcon {
        cursor: not-allowed;
      }
    }

    .DateInput {
      cursor: not-allowed;
      
      &_input {
        cursor: not-allowed;
        color: transparent;
        user-select: none;
      }
    }
  }
}
